* {
    margin: 0;
    font-family: Arial;
}

header {
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    line-height: normal;
    background-color: #50aa97;
}

.LogoTitre {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-items: end;
}

#Logo {
    width: 40%;
}

.header-title {
    font-size: large;
    font-weight: bold;
    padding: 10px;
}

nav>ul>li {
    display: inline;
    font-size: large;
    font-weight: bold;
    padding: 5px;
}

nav>ul {
    text-align: right;
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
}

#Avatar {
    width: 15%;
}

.profile {
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: rgb(230, 230, 230);
    color: black;
    padding: 1rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-section>ul {
    padding: 20px;
}

.footer-section>ul>li {
    display: inline;
    font-size: large;
    padding: 5px;
}